# Archivos de entorno
.env

# Directorios de documentación y salidas
docs/
docs_outputs/

# Directorios de caché
cache/
__pycache__/

# Bases de datos locales
chroma_db_clientes/
chroma_db_legislacion/
